html {
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  background-color: #000;
}

body, #root, .App, #prompt, .promptContainer {
  height: 100%;
}

.questionText {
  height: 60%;
  font-size: 12vh;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result {
  height: 100%;
  font-size: 12vh;
  font-weight: bold;
  text-transform: uppercase;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin-top: 40px;
  text-transform: uppercase;
  padding: 10px;
}

body {
  top: 50%;
}

label {
  padding-left: 1vh;
}

input, label, button {
  font-size: 20px
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
  margin:0;
  padding:0;
}
html,body {
  margin:0;
  padding:0;
}